scale {
    padding: 10px 5px 0;
}

scale value {
    transform: translate(0, -6px);
}

.edit-icon {
    opacity: 0;
}

row.active {
    background-color: rgba(144, 207, 175, 0.2);
}

.connect_button {
    padding: 0;
}

.connect_button label {
    padding: 6px 10px 5px;
}

.connect_button:disabled {
    filter: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.connect_button:disabled label {
    opacity: 0.5;
}

.connect_button:disabled progressbar {
    filter: none;
}

.update_button {
    padding: 0;
}

.update_button .horizontal {
    padding: 5px 10px;
}

.update_button:disabled {
    filter: none;
}
